### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/classes/target/classes/.idea/.gitignore
/target/classes/target/classes/.gitignore
/target/classes/server/comands/AddCommand.class
/target/classes/server/comands/AddIfMaxCommand.class
/target/classes/common/requests/Argument.class
/src/main/java/common/requests/Argument.java
/target/classes/server/comands/ClearCommand.class
/target/classes/server/managers/CollectionManager.class
/target/classes/common/Enums/Color.class
/target/classes/client/readArguments/ColorRead.class
/target/classes/server/comands/Command.class
/src/main/java/server/comands/Command.java
/target/classes/server/comands/CommandCollection.class
/target/classes/common/Enums/Commands.class
/target/classes/server/managers/Communicator.class
/target/classes/target/classes/.idea/compiler.xml
/target/classes/client/Console/Console.class
/target/classes/client/readArguments/CoordinateRead.class
/target/classes/common/Model/Coordinates.class
/target/classes/server/comands/CountByLocationCommand.class
/target/classes/server/comands/CountGreaterThanLocationCommand.class
/target/classes/common/Enums/Country.class
/target/classes/client/readArguments/CountryRead.class
/src/main/java/client/readArguments/CountryRead.java
/target/classes/data.csv
/data.csv
/target/classes/server/managers/DumpManager.class
/target/classes/server/comands/ExitCommand.class
/target/classes/server/comands/FieldDescendingEyeColorCommand.class
/target/classes/server/comands/HelpCommand.class
/target/classes/client/readArguments/IdReader.class
/src/main/java/client/readArguments/IdReader.java
/target/classes/common/Exceptions/IncorrectDataInput.class
/target/classes/server/comands/InfoCommand.class
/target/classes/client/Interrogator.class
/target/classes/target/classes/.idea/jarRepositories.xml
/target/classes/target/classes/Lab5.iml
/target/classes/common/Model/Location.class
/target/classes/client/readArguments/LocationRead.class
/target/classes/Main.class
/target/classes/target/classes/.idea/misc.xml
/target/classes/target/classes/.idea/modules.xml
/target/classes/target/classes/my-project.iml
/target/classes/common/Mainpart/Person.class
/target/classes/client/readArguments/PersonRead.class
/target/classes/target/classes/pom.xml
/target/classes/client/readArguments/Reader.class
/target/classes/common/Intefaces/Reader.class
/src/main/java/client/readArguments/Reader.java
/target/classes/server/comands/RemoveByIdCommand.class
/target/classes/server/comands/ReorderCommand.class
/target/classes/common/requests/Request.class
/target/classes/common/requests/Responce.class
/target/classes/client/Runner$ExitCode.class
/target/classes/client/Runner.class
/target/classes/server/comands/SaveCommand.class
/target/classes/server/comands/ShowCommand.class
/target/classes/server/comands/ShuffleCommand.class
/target/classes/client/Console/StandartConsole.class
/target/classes/client/readArguments/StringReader.class
/src/main/java/client/readArguments/StringReader.java
/target/classes/server/comands/UpdateByIdCommand.class
/target/classes/client/readArguments/ValueFactory.class
/src/main/java/client/readArguments/ValueFactory.java
/target/classes/client/readArguments/ValueReader.class
/src/main/java/client/readArguments/ValueReader.java
/target/classes/target/classes/.idea/vcs.xml
/target/classes/server/managers/WorkManager.class
/src/main/java/server/managers/WorkManager.java
/target/classes/common/Exceptions/WrongDateType.class
/target/classes/target/classes/docs/Отчет_ЛР5_прога.odt
/target/classes/target/classes/docs/Распределение задач.png
/target/classes/target/classes/src/Распределение задач.png
